PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/inventory_db
JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me_too
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_REGISTRATION_LIMIT=5
USER_REGISTRATION_LIMIT=100
CORS_ORIGIN=http://localhost:5173,http://localhost:19006



CLOUDINARY_CLOUD_NAME=dg2vag5nj
CLOUDINARY_API_KEY=357389213551485
CLOUDINARY_API_SECRET=b1BmlDW7kF3L2g2etQcm5Jbbxlw


EMAIL_USER=montessori.erp@gmail.com
EMAIL_PASS=wsnq nfjb qzur fahj